/* reset */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* app.css */



body {
	font-family: 'helvetica neue';
}

/**** header ****/

header {
	position:fixed;
	top:0;
	left:0;
	width:100%;
	height:7px;
	background-color:black;
}

.dark {
	width: 8.33%;
	background-color: #8c8c8c;
	height: 7px;
	float: left;
}

.light {
	width: 8.33%;
	background-color: #d8d8d8;
	height: 7px;
	float: left;
}



/**** content wrapper ****/

#content-wrapper {
	margin-top: 7px;
	margin-bottom: 60px;
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100vh; 
    border: 1px solid black;
}

#slide-left {
	margin-top: 0px;
    position: absolute;
    left: -600px;
    width: 600px;
    height: 100vh;
    background-color: #2d2d2d;  
    transition: 1s;
}

#slide-right {
	margin-top: 0px;
    position: absolute;
    right: -500px;
    width: 570px;
    height: 100vh;
    
    transition: 1s;
}

.openslide-left {
	transition: 1s !important;
    left: 0 !important;
}

.openslide-right {
	transition: 1s !important;
    right: 0 !important;
}

.col-1 {
	width: 70px;
	background-color: white !important;
	height: 100vh;
	float: left;
}

.help p {
	font-size: 3rem;
	font-weight: 500;
	color: white;
	padding-left: 30px;
	margin-top: -23px;
}

.help {
	cursor: pointer;
}



.arrow-left {
	width: 0; 
	height: 0; 
	border-top: 70px solid transparent;
	border-bottom: 70px solid transparent; 
	border-right:70px solid #FF5B02; 
}

.col-2 {
	width: 570px;
	background-color: #2d2d2d;
	height: 100vh;
}



/**** footer ****/

footer {
	position: fixed;
	left: 0px;
	bottom: 0px;
	height: 60px;
	width: 100%;
	background: black;
}

/* IE 6 */
* html footer {
    position:absolute;
    top:expression((0-(footer.offsetHeight)+(document.documentElement.clientHeight ? document.documentElement.clientHeight : document.body.clientHeight)+(ignoreMe = document.documentElement.scrollTop ? document.documentElement.scrollTop : document.body.scrollTop))+'px');
}

/**** bottom toolbar ****/

.truncate {
  width: 100px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

#menu-button {
	height: 60px;
	background-color: #ff5b02;
	width: 60px;
	float: left;
	cursor: pointer;
}

#menu-button img {
	width: 60px;
	height: 60px;
	cursor: pointer;
}

#toolbar {
	width: 100%;
}

.but-l {
	width: 25%;
	float: left;
	cursor: pointer;
}

.desc-l {
	width: 75%;
	float: left;
}

.but-r {
	width: 25%;
	float: left;
	cursor: pointer;
}

.desc-r {
	width: 75%;
	float: left;
}

#left {
	height: 60px;
	width: 15%;
	background-color: #2284fb;
	float: left;
	cursor: pointer;
}

#left p {
	vertical-align: middle;
	line-height:60px;
	color: white;
	text-align: center;
}

#left img {
	width: 60px;
	height: 60px;
}

#right {
	height: 60px;
	width: 15%;
	background-color: #2284fb;
	float: right;
	text-align: right;
	cursor: pointer;
}

#right img {
	width: 60px;
	height: 60px;
	float: right;
}

#right p {
	vertical-align: middle;
	line-height:60px;
	color: white;
	text-align: center;
}

#descriptor {
	color: white;
	width: 63%;
	height: 60px;
	text-align: center;
	float: left;
	background-color: black;
	font-weight: 600;
}

#descriptor h4 {
	vertical-align: middle;
	line-height:60px;
}



/**** left panel ****/

.side-panel-title {
	background-color: #444444;
	color: #ededed;
}

.side-panel-title {
	font-size: 3em;
	font-weight: 500;
	padding: 20px 0 20px 60px;
}

#canvas h3 {
	color: #ededed;
	font-size: 2em;
	display: inline-block;
	font-weight: 500;
}

.circle {
	display: inline-block;
}

.slide-content {
	padding-left: 60px;
	padding-top: 20px;
}






@media only screen { } /* Define mobile styles */

@media only screen and (max-width: 40em) { 

	

	#descriptor {
	color: white;
	width: 50%;
	height: 60px;
	text-align: center;
	float: left;
	background-color: black;
	}

	#right p, #left p {
		display: none;
	}

	.but-r, .but-l {
		width: 100%;
		text-align: center;
	}

	#right img {
		width: 60px;
		height: 60px;
		float: none;
	}

} /* max-width 640px, mobile-only styles, use when QAing mobile issues */


@media only screen and (min-width: 40.063em) { } /* min-width 641px, medium screens */

@media only screen and (min-width: 40.063em) and (max-width: 64em) { 

	

	#descriptor {
	color: white;
	width: 60%;
	height: 60px;
	text-align: center;
	float: left;
	background-color: black;
	}

	#right p, #left p {
		display: none;
	}

	.but-r, .but-l {
		width: 100%;
		text-align: center;
	}

	#right img {
		width: 60px;
		height: 60px;
		float: none;
	}



} /* min-width 641px and max-width 1024px, use when QAing tablet-only issues */


@media only screen and (min-width: 64.063em) { } /* min-width 1025px, large screens */

@media only screen and (min-width: 64.063em) and (max-width: 90em) { } /* min-width 1025px and max-width 1440px, use when QAing large screen-only issues */


@media only screen and (min-width: 90.063em) { } /* min-width 1441px, xlarge screens */

@media only screen and (min-width: 90.063em) and (max-width: 120em) { } /* min-width 1441px and max-width 1920px, use when QAing xlarge screen-only issues */


@media only screen and (min-width: 120.063em) { } /* min-width 1921px, xxlarge screens */





