/* reset */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	font-family: "Helvetica Neue", "HelveticaNeue-Light", "Helvetica Neue Light",  
  Helvetica, Arial, "Lucida Grande", sans-serif;
}

.content-left
{
	line-height: 1.125;
}

ol
{
	font-size: 1.5em;
}

ul ul, ul ol, ol ol, ol ul
{
	font-size: 1em;
}

ul {
	list-style: none;
	margin-left: 20px;
 	padding-left: 1em;
 	text-indent: -1em;
 	font-size: 1.5em;
 	margin-top: 20px;
}

ul li {
	padding-top: 5px;
	padding-bottom: 5px;
}

ul li:before {
 content: "\0BB \020";
 }


blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

.table-div {
	margin-bottom: 40px; margin-top: 40px;
	padding-right: 40px;
}

.afterCut
{
	display: none;
}

.afterCut.visible
{
	display: inline;
}

.show_hide
{
	border: 0;
	color: #8e8e8e;
	background-color: #efefef;
	padding: 10px;
	margin: 10px 0 0 0;
	display: block;
}

.conditional, .conditional1 {
	text-decoration: underline;
	cursor: pointer;
}

.conditional-target, .conditional-target1 {
	display: none;

}

ul, ol
{
	color: #2d2d2d;
}

li span
{
	color: black;	
}

/* app.css */

h1 {
	color: #2d2d2d !important;
}

h2
{
	font-weight: bold;
	font-size: 1.7em;
	margin: 20px 0 0 0;
}

#slide-left h2, #slide-right h2
{
	margin: 0;
	font-size: 1em;
}

.slick-prev, .slick-next
{
	display: none !important;
}

.slick-slide *
{
	display: none;
	width: 100%;
}

.slick-active *
{
	display: inline;
}


/**** header ****/

header {
	position:fixed;
	top:0;
	left:0;
	width:100%;
	height:7px;
	background-color:black;
}

#progress-bar div
{
	width: 10%;
	height: 7px;
	float: left;
}

#progress-step-0
{
	background: #1C4BF2;
}

#progress-step-1
{
	background: #1681FF;
}

#progress-step-2
{
	background: #00AFFF;
}

#progress-step-3
{
	background: #10B131;
}

#progress-step-4
{
	background: #5AEA5B;
}

#progress-step-5
{
	background: #F6B122;
}

#progress-step-6
{
	background: #FF5B02;
}

#progress-step-7
{
	background: #D10005;
}

#progress-step-8
{
	background: #E20072;
}

#progress-step-9
{
	background: #A72B8C;
}

#progress-step-10
{
	background: #D32A4D;
}

#progress-step-11
{
	background: #67299B;
}

#progress-bar .grey:nth-child(odd)
{
	
	background-color: #8c8c8c;
}

#progress-bar .grey:nth-child(even)
{
	background-color: #d8d8d8;
}

#progress-text {
	padding-top: 20px;
	padding-left: 40px;
	padding-bottom: 10px;
	color: gray;
	font-weight: 600;
	background-color: white;
}



/**** content wrapper ****/

#content-wrapper {
	margin-top: 7px;
	margin-bottom: 60px;
    position: fixed;
    width: 100%;  
}

#slide-left {
	margin-top: 0px;
    position: absolute;
    left: -600px;
    width: 600px;
    height: 100vh;
    background-color: #2d2d2d;  
    transition: 1s;
    overflow-y: scroll;
}

.slide-content h3 {
	float: none;
	margin-left: 10px;
}

.ch-title {
	margin-bottom: 30px;
	cursor: pointer;
}

#slide-right {
	margin-top: 0px;
    position: absolute;
    right: -600px;
    width: 600px;
    height: 100vh;
    transition: 1s;
}

.openslide-left {
	transition: 1s !important;
    left: 0 !important;
}

.openslide-right {
	transition: 1s !important;
    right: 0 !important;
}

.col-1 {
	width: 70px;
	background: transparent;
	height: 100vh;
	position: absolute;
	left: -70px;
}

.help p {
	font-size: 3rem;
	font-weight: 500;
	color: white;
	padding-left: 30px;
	margin-top: -23px;
}

.help {
	cursor: pointer;
}



.arrow-left {
	width: 0; 
	height: 0; 
	border-top: 70px solid transparent;
	border-bottom: 70px solid transparent; 
	border-right:70px solid #FF5B02; 
}

.col-2 {
	width: 670px;
	background-color: #2d2d2d;
	height: 100vh;
}


/**** course content area ****/

#course-content-wrapper {
	width: 100%;
	padding-top: 70px;
	padding-bottom: 100px;
	position: absolute;
	z-index: -1;
}

#course-content {
	width: 85%;
	height: 80vh;
	transition: 0.5s;
	margin: 0 auto;
}

.faded,
#left.faded,
#right.faded
{
	opacity: 0.1;
	cursor: default !important;
}

.lower-roman
{
	list-style: lower-roman;
}

.no_bullets
{
	list-style: none;
}

em
{
	font-style: italic;
}

.underline
{
	text-decoration: underline;
}

.ord1, .ord2, .ord3 {
	font-size: 1em;
}

/**** footer ****/

footer {
	position: fixed;
	left: 0px;
	bottom: 0px;
	height: 60px;
	width: 100%;
	background: black;
}

/* IE 6 */
* html footer {
    position:absolute;
    top:expression((0-(footer.offsetHeight)+(document.documentElement.clientHeight ? document.documentElement.clientHeight : document.body.clientHeight)+(ignoreMe = document.documentElement.scrollTop ? document.documentElement.scrollTop : document.body.scrollTop))+'px');
}

/**** bottom toolbar ****/

.truncate {
  width: 100px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

#menu-button {
	height: 60px;
	background-color: #ff5b02;
	width: 60px;
	float: left;
	cursor: pointer;
}

#menu-button img {
	width: 60px;
	height: 60px;
	cursor: pointer;
}

#toolbar {
	width: 100%;
}

.but-l {
	width: 25%;
	float: left;
}

.desc-l {
	width: 75%;
	float: left;
}

.but-r {
	width: 25%;
	float: left;
}

.desc-r {
	width: 75%;
	float: left;
}

#left {
	height: 60px;
	width: 15%;
	background-color: #2284fb;
	float: left;
	cursor: pointer;
}

#left p {
	vertical-align: middle;
	line-height:60px;
	color: white;
	text-align: center;
}

#left img {
	width: 60px;
	height: 60px;
}

#right {
	height: 60px;
	width: 15%;
	background-color: #2284fb;
	float: right;
	text-align: right;
	cursor: pointer;
}

#right img {
	width: 60px;
	height: 60px;
	float: right;
}

#right p {
	vertical-align: middle;
	line-height:60px;
	color: white;
	text-align: center;
}

#descriptor {
	color: white;
	width: 63%;
	height: 60px;
	text-align: center;
	float: left;
	background-color: black;
	font-weight: 600;
}

#descriptor h4 {
	vertical-align: middle;
	line-height:60px;
}



/**** left panel ****/

.side-panel-title {
	background-color: #444444;
	color: #ededed;
}

.side-panel-title {
	font-size: 2.3em;
	font-weight: 500;
	padding: 20px 0 20px 60px;
}

#canvas h3 {
	color: #ededed;
	font-size: 1.3em;
	display: inline-block;
	font-weight: normal;
}

#wrapperleft {
	overflow: scroll;
	height: 75%;
}

#wrapperright {
	overflow: scroll;
	height: 70%;
}

strong{
	font-weight: bold;
}

.circle {
	display: inline-block;
}

.slide-content {
	padding-left: 60px;
	padding-top: 20px;
}

.right-side-panel-title {
	background-color: #444444;
	color: #ededed;
	font-size: 2.3em;
	font-weight: 500;
	padding: 20px 0 20px 60px;
	margin-bottom: 40px;
	height: 40px;
}

.right-side-panel-content {
	color: #ededed;
	font-size: 1em;
	font-weight: 400;
	padding-left: 60px;
	padding-right: 70px;
	width: 70%;
}

.right-side-panel-title img {
	visibility: hidden;
}

.right-side-panel-content input::-webkit-input-placeholder {
   color: #ededed;
}

.right-side-panel-content input:-moz-placeholder { /* Firefox 18- */
   color: #ededed;  
}

.right-side-panel-content input::-moz-placeholder {  /* Firefox 19+ */
   color: #ededed;  
}

.right-side-panel-content input:-ms-input-placeholder {  
   color: #ededed;  
}

.right-side-panel-content input, .right-side-panel-content textarea {
	width: 100%;
	background: #444;
	font-size: 1em;
	font-weight: 300;
	color: #ededed;
}

.right-side-panel-content input {
	height: 40px;
	border: solid 4px #ededed;
	margin-bottom: 8px;
}

.right-side-panel-content textarea {
	height: 160px;
	border: solid 4px #ededed;
}

input[type=submit], #imagequiz-submit
{
	background: #5AEA5B;
	border: none;
	color: black;
	font-weight: 600;
	font-size: 1.2em;
	width: 33%;
	margin-top: 40px;
}

.greenbutton {
	background: #5AEA5B;
	border: none;
	color: black;
	font-weight: 600;
	font-size: 1.2em;
	width: 33%;
	margin-top: 40px;
	width: 150px;
	height: 50px;
}

input#image-submit{
    background: #5AEA5B url('images/submit.png') no-repeat top right;
    height: 50px;
    background-size: 34%;
}


.right-side-panel-content form {
	margin-top: 30px;
}

.alert-message {
	visibility: hidden;
	padding-top: 10px;
	color: red;
}

#canvas h3 {
	width: 85%;
}

/**** demo content ****/

#int-dataset > tbody > tr:nth-child(2) > td.startpoint {
	line-height: 24px;
}

#welcome {
	text-align: center;
	vertical-align: middle;
	line-height: 300px;
	font-size: 3em;
	color: gray;
}

h1 {
	font-size: 3em;
	font-weight: 600;
	margin-bottom: 40px;
}

h1 > span {
	color: #8e8e8e;
	font-weight: 500;
}

.course-section-title p {
	font-size: 1.5em;
	color: #2d2d2d;
	margin-top: 40px;
	padding-right: 30px;
}

.content-left {
	width: 60%;
	float: left;
}

.content-right {
	width: 40%;
	float: right;
	padding-top: 10px;
	color: black;
}

.content-right img {
	width: 100%;
}


.captioned-image {
	background: #efefef;
}

.caption {
	padding-left: 20px;
	padding-bottom: 40px;
	font-weight: 500;
	word-wrap: break-word;
}

.section-slider {
	margin-top: 40px;
}

/**** multiple choice ****/

#navContent{
      margin:auto;
      width:100%;
      height:500px;
      position:relative;
      overflow:hidden;
      }
#game1{
      margin:auto;
      width:100%;
      height:400px;
      right:0px;
      position:absolute;
      }
#game2{
      margin:auto;
      width:100%;
      height:400px;
      right:-800px;
      position:absolute;
      }
      
.questionText{
      font-size:18px;
      color:#000;
      }
.option{
      width:92%;
      height:auto;
      margin:15px;
      font-size:18px;
      color:#000;
      padding:2px;
      padding-left:10px;
      border: 5px solid white;
      cursor:pointer;
      background-color:#CCC;
      vertical-align: middle;
  	  line-height: 30px;
  	  margin-left: 0px;
      }
.option:hover{
      border:#CCC solid 5px;
      background-color:#FF5B02;
      color: white;
      }

#topbar{
      height:50px;
      margin:auto;
      color:#2d2d2d;
      font-size:36px;
      width:100%;
      font-weight: 500;
      }


.feedback1{
      width:150px;
      padding:5px;
      font-size:30px;
      color:#FFF;
      background-color:#5AEA5B;
      text-align:center;
      }
           
.feedback2{
      width:150px;
      padding:5px;
      font-size:30px;
      color:#FFF;
      background-color:#FF5B02;
      text-align:center;
      }

.mc-quiz {
	border: solid 1px #dedede;
  	background-color: #f2f2f2;
  	padding: 20px;
}

input#restartQuiz,
#imagequiz-submit {
 	background: #5AEA5B;
  	height: 40px;
  	width: 150px;
  	font-family: 'helvetica neue';
  	border: none;
  	font-size: 1em;
}


/**** interactive dataset ****/

#int-dataset {
	border: 1px solid #d8d8d8;
	width: 100%;
	margin-top: 40px;
	margin-bottom: 20px;
}

#int-dataset input {
	border: none;
	background-color: transparent;
	font-size: 1em;
	text-align: center;
}

#int-dataset th, #int-dataset td {
	line-height: inherit;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 10px;
	text-align: center;
	height: 50px;
}

#int-dataset th {
	background-color:#ccc;
}

#int-dataset td {
	height: 50px;
	line-height: 50px;
}

#int-dataset tr:nth-child(even) {background: #f2f2f2}
#int-dataset tr:nth-child(odd) {background: #FFF}

button#dataset-submit {
  background: #5AEA5B;
  height: 50px;
  border: none;
  width: 150px;
  font-size: 1.3em;
  float: left;
} 

.dataset-feedback {
	float: right;
	width: 70%;
} 

.dataset-feedback p {
	margin-top: 10px;
	float: right;
} 

.dataset-feedback img {
	float: right;
	width: 5%;
  	margin-right: 20px;
} 

.dataset-correct, .dataset-wrong {
	display: none;
} 

.tables {
	margin-bottom: 20px;
}

.tables th {
	background-color:#ccc;
	height: 50px;
}

.tables td, .tables th {
	height: 50px;
	line-height: inherit;
	text-align: center;
}

.tables tr:nth-child(even) {background: #f2f2f2}
.tables tr:nth-child(odd) {background: #FFF}


/*** order quiz ***/

.orderquiz1 input, .orderquiz2 input, .orderquiz input {
	margin-right: 20px;
	height: 30px;
	width: 30px;
} 

.orderquiz1 p, .orderquiz2 p, .orderquiz p {
	display: block;
} 

/*** image quiz ***/

.highlightquiz.content-left, .knowyourdata.content-left, .imagequiz.content-left {
		width: 100% !important;
	}



.imagequiz-correct, .imagequiz-wrong {
	display: none;
	text-align: left;
	width: 40%;
	padding: 10px;
	margin: 0 auto;
	border: solid 1px #ccc;
	margin-top: 20px;
}

.imagequiz-correct img, .imagequiz-wrong img {
	float: right;
	width: 50px;
}

.imagequiz-correct p, .imagequiz-wrong p {
	float: left;
	width: 80%;
	margin: 0;
	padding: 0;
	font-size: 1.1em;
}

.imagequiz {
	text-align: left;
}

.instruction {
	margin-bottom: 20px;
}

.imagequiz img {
	padding: 10px;
}

.destyled-ul li:before {
	content: "";
}

.destyled-ul {
	text-align: left;
}

.destyled-ul li img{
	width: 40%;
}

.destyled-ul li input[type=checkbox] {
  /* All browsers except webkit*/
  transform: scale(1.9);
  margin-right: 20px;

  /* Webkit browsers*/
  -webkit-transform: scale(1.5);
}

.destyled-ul table
{
	margin-left: -20px;
}

.show_hide
{
    border: 0;
    color: #8e8e8e ;
    background-color: #efefef ;
    padding: 10px;
    margin: 10px 0 0 0;
    display: block;
}

.correct {
	display: none;
	color: green !important;
}

.false {
	display: none;
	color: red !important;
}

.graphic_list
{
	list-style: none;
	padding: 0;
	line-height: 2;
	font-size: 1.75em;
}

.graphic_list li:nth-child(1) span
{
	background-color: #00AFFF;
}

.graphic_list li:nth-child(2) span
{
	background-color: #1681FF;
}

.graphic_list li:nth-child(3) span
{
	background-color: #1C4BF2;
}

.graphic_list span
{
	color: white;
	padding: 5px;
}

.graphic_list span:nth-child(1)
{
	margin-right: 10px;
}

.cool-ol { padding-left: 50px; padding-top: 40px; }
.cool-ol ol { font-style:italic; font-size:24px;}
.cool-ol ol li { color: #8e8e8e; font-weight: 500; }
.cool-ol ol li p { padding:8px; font-style:normal; font-family:Arial; font-size:1em; color:black; border-left: 1px solid #999; margin-top: 0;}
.cool-ol ol li p em { display:block; }

.highlight {
	color: #AA40C7;
	cursor: pointer;
}

.hidden-p {
	display: none;
}

.ch7-links {
	display: inline-block;
}

.ch7-links li {
	float: left;
	padding: 20px;
}

.ch7-links li:before {
  content: "";
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    border: 1px solid #bbb;
}
td,th {
    border-top: 1px solid #ddd;
    padding: 4px 8px;
}

#poll label {
	font-size: 1.5em;
	margin-bottom: 20px;
}

#poll input[type=checkbox] {
  /* All browsers except webkit*/
  transform: scale(1.5);
  margin-right: 20px;
  /* Webkit browsers*/
  -webkit-transform: scale(1.5);
}

#ButtonSubmit {
	background: #5AEA5B;
    height: 50px;
    width: 100px;
    border: none;
    font-size: 1.2em;
}

.ch7-links-wrapper {
	text-align: center;
}

@media only screen { } /* Define mobile styles */

@media only screen and (max-width: 40em) { 

	

	#descriptor {
	color: white;
	width: 50%;
	height: 60px;
	text-align: center;
	float: left;
	background-color: black;
	}

	#right p, #left p {
		display: none;
	}

	.but-r, .but-l {
		width: 100%;
		text-align: center;
	}

	#right img {
		width: 60px;
		height: 60px;
		float: none;
	}

	#slide-left {
		width: 100%;
		left: -100%;
	}

	#slide-right {
		width: 100%;
		right: -100%;
	}

	.arrow-left {
		border-top: 40px solid transparent;
  		border-bottom: 40px solid transparent;
  		border-right: 40px solid #FF5B02;
	}

	.col-1 {
  		width: 40px;
  		background: transparent;
  		height: 100vh;
  		position: absolute;
  		left: -40px;
	}

	.col-2 {
		width: 100%;
	}

	.right-side-panel-title {
		padding-left: 20px;
		padding-top: 0;
		height: 40px;
	}

	.right-side-panel-title h2 {
		float: left;
		margin-top: 13px;
	}

	.right-side-panel-title img {
		float: right;
		height: 150%;
		cursor: pointer;
		visibility: visible;
	}

	.right-side-panel-content {
		width: inherit;
		padding-left: 10px;
		padding-right: 20px;
	}

	.side-panel-title {
		padding-left: 20px;
	}

	.slide-content {
  padding-left: 20px;
  padding-top: 20px;
}

	input#image-submit {
		width: 150px;
	}

	.help p {
		  font-size: 2rem;
		  font-weight: 500;
		  color: white;
		  padding-left: 16px;
		  margin-top: -16px;
	}

	.content-left, .content-right {
		width: 100%;
		margin-bottom: 40px;
	}

	

	#canvas h3 {
		font-size: 1.1rem;
	}

	

	.dataset-feedback {
  float: none;
  width: 100%;
}

	.dataset-feedback p {
  margin-top: 10px;
  float: left;
  width: 70%;
}

	.dataset-feedback img {
  float: right;
  width: 12%;
  margin-top: 25px;
}

table {
		overflow-x: auto;
		display: block;
	}

.tables td, .tables th {
	height: 50px;
	line-height: 24px;
}


/*


	table, thead, tbody, th, td, tr { 
		display: block; 
	}
	
	
	thead tr { 
		position: absolute;
		top: -9999px;
		left: -9999px;
	}
	
	tr { border: 1px solid #ccc; }
	
	td { 
		
		border: none;
		border-bottom: 1px solid #eee; 
		position: relative;
		padding-left: 50%; 
		width: auto;
	}
	
	td:before { 
		
		position: absolute;
		
		top: 0px;
		left: 35px;
		width: 45%; 
		padding-right: 10px; 
		white-space: nowrap;
	}
	
	
	td:nth-of-type(1):before { content: "Go-card No."; }
	td:nth-of-type(2):before { content: "Passenger DoB"; }
	td:nth-of-type(3):before { content: "Start point"; }
	td:nth-of-type(4):before { content: "End point"; }
	td:nth-of-type(5):before { content: "Journey time"; }



	#int-dataset th, #int-dataset td {
		line-height: 50px;
		padding-left: 35px;
		padding-right: 5px;
		text-align: left;
		height: 50px;
	}

	#int-dataset th select {
		float: right;
	  margin-top: 15px;
	  margin-right: 65px;
	}

	#int-dataset td{
		padding-left: 175px;
	}

	#int-dataset input {
		text-align: left;
	}

	.destyled-ul {
		margin-left: 0px;
	}

	#dataset-two tr td {
  width: 150px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
*/


} /* max-width 640px, mobile-only styles, use when QAing mobile issues */


@media only screen and (min-width: 40.063em) { } /* min-width 641px, medium screens */

@media only screen and (min-width: 40.063em) and (max-width: 64em) { 

	

	#descriptor {
	color: white;
	width: 60%;
	height: 60px;
	text-align: center;
	float: left;
	background-color: black;
	}

	#right p, #left p {
		display: none;
	}

	.but-r, .but-l {
		width: 100%;
		text-align: center;
	}

	#right img {
		width: 60px;
		height: 60px;
		float: none;
	}

	.content-left, .content-right {
		width: 100%;
		margin-bottom: 40px;
	}


} /* min-width 641px and max-width 1024px, use when QAing tablet-only issues */


@media only screen and (max-width: 800px) { }


@media only screen and (min-width: 64.063em) { } /* min-width 1025px, large screens */

@media only screen and (min-width: 64.063em) and (max-width: 90em) { } /* min-width 1025px and max-width 1440px, use when QAing large screen-only issues */


@media only screen and (min-width: 90.063em) { } /* min-width 1441px, xlarge screens */

@media only screen and (min-width: 90.063em) and (max-width: 120em) { } /* min-width 1441px and max-width 1920px, use when QAing xlarge screen-only issues */


@media only screen and (min-width: 120.063em) { } /* min-width 1921px, xxlarge screens */



